.app-container {
   margin-top: 10px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
  }
  
    
    .app-contant{
      display: flex;
      align-items: center;
      gap: 20px;
      line-height: 1.4;
    }
    
    .aap-img {
      width: 130px;
      height: 130px;
    }
    
    .app-text h1 {
      font-size: 40px;
    }
    .app-text p {
      margin: 5px 0 0;
      font-size: 1.2rem;
      color: #555;
      font-weight: bold;
    }
    .app-text p span{
      color: darkcyan;
    }
    
    .app-button {
      padding: 20px 60px;
      font-size: 0.95rem;
      background-color: #0f8a86;
      color: white;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    
    .app-button:hover {
      background-color: #00796b;
    }
    
    /* ✅ Responsive Design */
    @media (max-width: 992px) {
      .app-container {
          flex-direction: column;
        }
    }
    
    @media (max-width: 768px) {
      .app-container {
        flex-direction: column;
      }
        .app-text h1 {
          font-size: 30px;
        }
      
      .app-text p {
         font-size: 15px;
        }
    
      .app-button {
        font-size: 12px;
        padding: 10px 10px;
      }


    }
    
    @media (max-width: 480px) {
      .app-text h1 {
          font-size: 20px;
        }
      
      .app-text p {
         font-size: 10px;
        }
      .aap-img {
        width: 80px;
        height: 80px;
    }
  
    }