.cardbanner {
    width: 100%;
    padding: 20px;
    margin-top: 50px;
  }
  .cardbanner-image {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .cardbanner-item {
    position: relative;
    width: 570px;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .cardbanner-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .cardbanner-item img:hover {
    transform: scale(1.01);
  }
  
  .banner-content {
    position: absolute;
    bottom: 10px;
    left: 20px;
    padding: 15px;
  }
  
  .banner-Discount {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    max-width: 300px;
  }
  
  .banner-Category {
    font-size: 1.4rem;
    max-width: 200px;
    margin-bottom: 25px;
  }
  
  .banner-button {
    background: #000;
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
  }
  
  .banner-button:hover {
    background: #444;
  }
  
  
  
  
  
  
  @media screen and (max-width: 1024px) {
  
    .banner-content {
      bottom: 10px;
      left: 10px;
      padding: 10px;
    }
  
    .banner-Discount {
      font-size: 1.4rem;
    }
  
    .banner-Category {
      font-size: 1rem;
    }
  
    .banner-button {
      padding: 8px 20px;
      font-size: 0.95rem;
    }
  }
  
    @media screen and (max-width: 768px) {
    .cardbanner-image { 
      flex-direction: column;
      gap: 30px;
    }
  
    .cardbanner-item {
      width: 100%;
      height: auto;
    }
  
    .banner-content {
      position: static;
      background: transparent;
      color: #000
    }
  
    .banner-Discount {
      font-size: 1.3rem;
    }
    
    .banner-Category {
      font-size: 0.9rem;
    }
    .banner-button {
      padding: 10px 30px;
      font-size: 0.7rem;
    }
    
  }