.grocery-banner {
    width: 100%;
    margin-top: 20px;
  }
  
  .grocery-img {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .grocery-item {
    position: relative;
    width: 860px;
    height: 320px;
  }
  
  .grocery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .grocery-item img:hover {
    transform: scale(1.01);
  }
  
  .grocery-content {
    position: absolute;
    bottom: 20px;
    left: 10px;
    padding: 15px;
  }
  
  .grocery-Discount {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .grocery-Category {
    font-size: 1.4rem;
    max-width: 200px;
    margin-bottom: 10px;
  }
  
  .grocery-button {
    background: #000;
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
  }
  
  .grocery-button:hover {
    background: #444;
  }
  



  
  /* Mobile responsive */
  @media screen and (max-width: 768px) {
    .grocery-img {
        flex-direction: column;
        gap: 5px;
      }

    .grocery-item {
      width: 100%;
      height: 250px; /* Fixed height to maintain layout */
    }

  
    .grocery-Discount {
      font-size: 1.4rem;
    }
  
    .grocery-Category {
      font-size: 1rem;
    }
  
    .grocery-button {
      padding: 8px 20px;
      font-size: 0.8rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .grocery-item {
      width: 100%;
      height: 180px; 
    }
    .grocery-content {
        position: absolute;
        bottom: 1px;
        left: 1px;
      }
  }