
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Spartan:wght@400;500;600;700&display=swap");

:root{
  --body-font: "Lato", sans-serif;
  --big-font-size: 3.5rem;
  --h1-font-size: 2.75rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.75rem;
  --h4-font-size: 1.375rem;
  --large-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.6875rem;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;

}













.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #141d29;
  color: white;
}

.logo {
  margin-top: 3px;
  font-size: 25px;
  font-weight: bold;
  font-family: var(--body-font);
  color: white;
}
.deliver{
  font-family: var(--body-font);
  color: var(--light-color);
}
.rotate-location{
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}
.delivering{
  width: 160px;
  font-size: 10px;
  
}

.search-container11 {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  width: 900px;
  font-family: var(--body-font);
}

.search-in{
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;

  
}

.search-button {
  background-color: #e3ae69;  
  padding: 16px 15px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  margin-bottom: 19px;
}

.search-button i {
  font-size: 16px;
  color: black;
}
.dropd select{
  position: relative;
  display: inline-block;
  appearance: none; 
  font-family: var(--body-font);
}
.dropd option{
  color: #333;
}

.user{
  display: none;
  margin-left: 50px;
  cursor: pointer;
  font-size: 13px;
}

.sing-in{
  font-size: 15px;
}
.returns-orders{
  margin-left: 25px;
  font-family: var(--body-font);
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

.cart-icon {
  position: relative;
  font-size: 25px;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background: orange;
  color: black;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links select {
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
}



.navbar-container {
  display: flex;
  align-items: center;
  background: #232f3e;
  padding: 10px 15px;
}
.hamburger {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 18px;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}

.bottom-navbar {
  display: flex;
  margin-left: 30px;
  font-family: var(--body-font);
}

.bottom-navbar li a {
  color: white;
  padding: 5px 8px;
}

.bottom-navbar li a:hover {
  background: #37475a;
  border-radius: 5px;
}


/* 📌 Amazon-Style Sidebar with Enhanced Design & Logo */
.sidebar-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 999;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -400px;
    width: 400px;
    height: 100vh;
    background: linear-gradient(to bottom, #232F3E, #37475A);
    color: white;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
    box-shadow: 3px 0 15px rgba(0, 0, 0, 0.3);
    border-right: 2px solid #FF9900;
}

/* 📌 Active State */
.sidebar-overlay.active {
    opacity: 1;
    visibility: visible;
}

.sidebar.active {
    left: 0;
}

.sidebar-header .logo h2 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.category-links li {
    padding: 15px 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.category-links li:hover {
    background: rgba(255, 255, 255, 0.2);
    transition: background 0.2s ease-in-out;
}

.category-links li a {
    color: white;
    transition: color 0.3s ease-in-out;
}

.close-btn {
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding: 18px;
    cursor: pointer;
    font-size: 28px;
    background: #131921;
    color: #FF9900;
    transition: color 0.3s ease;

}
.close-btn:hover {
    color: white;
}


.service select {
  font-size: 14px;
  cursor: pointer;
  outline: none;
  color: white;
  appearance: none; 
  background: none; 
  border: none;
}


.service select:focus {
  background-color: #232f3e;
  margin-right: 5px;
  margin-left: 5px;
}

.service select {
  text-align: center; 
}

.service select option {
  font-size: 14px;
  text-align: center;
}

.service select option:disabled {
  font-weight: bold;
  color: white;
}







/* 🔹 Responsive Design */
@media (max-width: 1600px) {
  .navbar {
    max-width: 100%;
  }
  .navbar-container {
    max-width: 100%;
  }
}



@media (max-width: 1200px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    position: relative;
}
  .search-container11 {
    width: 100%;
    margin-top: 10px;
}
  .deliver {
    position: absolute;
    top: 150px;
    display: flex;
}
  .deliver span{
    color :var(--light-color);
    margin-left: 5px;
}
  .bottom-nav-loction{
    padding: 10px;
}
  .rotate-location{
    flex-direction: row-reverse;
    display: flex;  
    gap: 10px;
  align-items: center;
}
.dropd{
    display: none;
}
.user{
    display: flex;
    position: absolute;
    right: 70px;
    top: 13px;
    display: block;
    font-size: 20px;
}
 .signin-text {
    font-size: 13px; 
    padding-right: 5px;
    font-family: var(--body-font);
}
  .cart-container {
    position: absolute;
    right: 10px;
    top: 15px;
}
  .returns-orders{
    display: none;
}
  .hamburger {
    position: absolute;
    left: 0;
    top: 7px;
    display: block;
    font-size: 20px;
}
  .logo{
    padding-left: 30px;
}
  .menu-all{
    display: none;
}
  .bottom-navbar {
    display: none;
  }
  .logout-desktop{
    display: none;
  }
}
  
@media (max-width: 480px) {
  .sidebar {
      width: 85%;
  }
}

  













.image-wrapper {
  padding: 10px;
  width: 100%;
  aspect-ratio: 12/ 5; 
  position: relative;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease-in-out;
  object-fit: cover;
}


.swiper-slide-active .image-wrapper img {
  transform: scale(1.02);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 9%;
  transform: translateY(-50%);
  color: #333468;
  z-index: 2;
  max-width: 600px;
}

.overlay h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.overlay p {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.overlay button {
  padding: 16px 24px;
  font-size: 1rem;
  background: darkcyan;
  border: 1px solid #000000;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
}
.overlay button:hover{
  color: #000;
}


/* ------------------------ */
/* ✅ Responsive CSS Below */
/* ------------------------ */


@media (max-width: 992px) {
  .overlay {
    left: 6%;
    max-width: 40%;
  }
  .overlay h2 {
    font-size: 2.2rem;
  }
  .overlay p {
    font-size: 1.1rem;
}


@media (max-width: 768px) {
  .image-wrapper {
    height: 40vh;
  }

  .overlay h2 {
    font-size: 1.7rem;
  }
  .overlay p {
    font-size: 1rem;
  }

  .overlay button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}

/* Extra Small Devices (Very Small Phones) */
@media (max-width: 480px) { 
  .overlay {
    max-width: 40%;
  }
  .overlay h2 {
    font-size: 30px;
  }

  .overlay p {
    font-size: 0.9rem;
    line-height: 1.5;
  }

  .overlay button {
    padding: 5px 10px;
    font-size: 10px;
  }
  
  

}
}


























/* PostForm styles */
.form-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.form-left {
  width: 66.66%;
  padding: 0 1rem;
}

.form-right {
  width: 33.33%;
  padding: 0 1rem;
}

.input-field {
  margin-bottom: 1rem;
}

.input-field label {
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin-bottom: 6px;
}

.input-field input,
.input-field select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.textarea-field {
  margin-bottom: 1rem;
}

.textarea-field label {
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin-bottom: 6px;
}

.textarea-field textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-height: 200px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.button-container button {
  padding: 12px 20px;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #218838;
}

.img-preview {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.img-preview img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.input-file {
  display: block;
  margin-bottom: 1rem;
}

.select-field {
  margin-bottom: 1rem;
}

































/* Container for login page */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.1));
}

/* Login form styling */
.login-form {
  background-color: #fff;
  padding: 40px 50px;
  max-width: 400px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #d1d1d1;
  transition: all 0.3s ease-in-out;
}

/* Hover effect on form */
.login-form:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

/* Logo styling */
.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo-container img {
  width: 120px;
  object-fit: contain;
}

/* Heading text */
.form-heading {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

/* Text below heading */
.signup-link {
  text-align: center;
  font-size: 14px;
  color: #777;
}

.signup-text {
  color: #5c6bc0;
  font-weight: 600;
  text-decoration: none;
}

.signup-text:hover {
  text-decoration: underline;
}

/* Error message style */
.error-message {
  color: #ff3b3b;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

/* Input field styling */
.input-group {
  margin-top: 20px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #333;
  transition: all 0.3s ease;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #5c6bc0;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(92, 107, 192, 0.2);
}

/* Submit button */
.submit-btn {
  width: 100%;
  padding: 15px;
  background-color: #5c6bc0;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.submit-btn:hover {
  background-color: #4f5b9e;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
  .login-form {
      padding: 25px;
      width: 90%;
  }

  .form-heading {
      font-size: 22px;
  }
}





/* Container for signup page */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.1));
}

/* Signup form styling */
.signup-form {
  background-color: #fff;
  padding: 40px 50px;
  max-width: 800px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #d1d1d1;
  transition: all 0.3s ease-in-out;
}

/* Hover effect on form */
.signup-form:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

/* Logo styling */
.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo-container img {
  width: 120px;
  object-fit: contain;
}

/* Heading text */
.form-heading {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

/* Text below heading */
.signup-link {
  text-align: center;
  font-size: 14px;
  color: #777;
}

.signup-text {
  color: #5c6bc0;
  font-weight: 600;
  text-decoration: none;
}

.signup-text:hover {
  text-decoration: underline;
}

/* Error message style */
.error-message {
  color: #ff3b3b;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

/* Input field styling */
.input-group {
  margin-top: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #333;
  transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #5c6bc0;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(92, 107, 192, 0.2);
}

/* Submit button */
.submit-btn {
  width: 100%;
  padding: 15px;
  background-color: #5c6bc0;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.submit-btn:hover {
  background-color: #4f5b9e;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
  .signup-form {
      padding: 25px;
      width: 90%;
  }

  .form-heading {
      font-size: 22px;
  }
}

















  /* ====================================================
                      FOOTER 
===================================================== */
.footer {
  background-color: #121b29;
  padding: 50px 15px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  font-size: 24px;
  font-weight: bold;   
  color: rgb(214, 219, 229)
}

.footer-subtitle {
  color: rgb(214, 219, 229);
  font-size: 17px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: 600;
}

.footer-description {
  line-height: 2.1;
  color: gray;
}

.footer-description span {
  font-weight: var(--weight-600);
  color: rgb(214, 219, 229);
}

.footer-socal {
  padding-top: 10px;
}

.footer-socal-links {
  display: flex;
  gap: 10px;
}

.footer-link-icon {
  font-size: 20px;
  color: rgb(214, 219, 229);
  transition: color 0.3s ease-in-out;
}

.footer-link-icon:hover {
  color: rgb(0, 187, 255);
}

.footer-title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(214, 219, 229);
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-link {
  color: gray ;
  font-size: 12px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.footer-link:hover {
  margin-left: 5px;
  color: rgb(214, 219, 229);
}

.payment-img {
  width: 200px;
  margin-top: 15px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between; 
  border-top: 2px solid rgb(214, 219, 229);
  margin-top: 30px;
  font-size: 15px;
}

.copyright,
.designer {
  color: rgb(214, 219, 229);
  padding-top: 20px;
}

/* ============================
     Responsive Design (768px) 
=============================== */
@media screen and (max-width: 768px) {
  .footer-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .payment-img {
      display: block;
      margin: 0 auto;
      text-align: center; 
  }
}

/* ============================
     Responsive Design (576px) 
=============================== */
@media screen and (max-width: 576px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-socal-links {
    justify-content: center;
  }
}


